.report-holder{
  position: absolute;
  top: 0;
  right: 0;
}



header .header{
    background-color: #fff;
    height: 45px;
  }
  header a img{
    width: 134px;
  margin-top: 4px;
  }
  .expense-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .expense-page .form .expense{
    margin-top: -31px;
  margin-bottom: 26px;
  }
  .form {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input  {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 15px;

  }

  .form select  {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#edeccf,#ac9e08);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  ul {
    counter-reset: index;  
    padding: 0;
    /* max-width: 1000px; */
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    background-image: linear-gradient(45deg,rgb(227, 230, 162),#811bf5);
    color: #3c3e3c;
    font-family: cursive;
    
  }
  
  #delete {
    position: relative;
   left:250px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background-color: #2088d2;
      background-image: linear-gradient(45deg,#d99897,#c64c4a);
      width: 10%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      /* border:2px solid red; */
      font-size: 15px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      margin-bottom: 15px;

  }

  #delete button:hover{
    color: red;
    background-image: linear-gradient(45deg,#cee3e2,#32e7e7);
  }
  
  /* Element counter */
  /* li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   */
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  

  #premium-membership {
    display: none;
    position: relative;
    left: 570px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#2375d2,#cee1f5);
    width: 25%;
    border: 0;
    padding: 15px;
    /* color: rgb(104, 91, 223); */
    font-family: Arial rgb(244, 201, 9);
    font-size: 19px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .expenses button:hover{
    background-image: linear-gradient(45deg,#cee3e2,#32e7e7);
    color:black;

  }

  .container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}

.leaderboard-holder{
    border:2px solid #070a10;
    border-radius: 7px;;
    padding:2px 10px;
    position: absolute;
    right: 2%;
}


@media(max-width:600px){
    header li{
        margin:0px 20px;
    }
}
#leaderboard{
    margin:0px;
    display: none;
    position:fixed;
    top:50px;
    height: 95%;
    right:0;
    background-image: linear-gradient(45deg,#a4b4c6,#44e37e);
    border:1px solid rgb(177, 103, 103);
    min-height:50vh;
}
#leaderboard h2{
    margin:20px 0px;
    padding:0;
}


.leaderboard-bottom{
    text-decoration: none;
    color:#56CCF2;
    font-size: 16px;
    font-weight:700;
}
.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(200, 29, 29);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}



.leaderboard-holder{
    border:2px solid #56CCF2;
    border-radius: 7px;;
    padding:2px 10px;
    position: absolute;
    right: 2%;
}



.leaderboard-row{
  font-size:18px;
  display:flex;
}
.leaderboard-header{
  font-size:20px;
  font-weight: bold;
}
.leaderboard-item{
  width:60%;
}


.leaderboard-name{
  /* position: relative; */
  width:20%;
  /* right:20px; */

}
.leaderboard-totalexpense{
  width:35%;
}
.leaderboard-column{
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid black; */
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}