body{
    background-color: aliceblue;
}

h3 {
 text-align: center;
}

h2{
    text-align: center;
    color:#4997e1 ;

}


table{
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
  }

th {
    background-color: #4997e1;
    color: rgb(255, 255, 255);

}

button {
    padding: 1%;
    /* position:absolute;
    bottom:0;
    right:0; */
    background-color: #4997e1;
    color:white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}


button:hover{
    background-color: white;
    color: black;
}